.appBar {
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  right: 0;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 90px;
  opacity: 1;
  z-index: 1000;
  transition: "1.5s";
}
@media (min-width: 1024px) and (max-width: 1360px) {
  .appBar {
    min-width: "1024px";
  }
}
@media (max-width: 786px) {
  .appBar {
    top: 0;
    left: 0;
    right: 0;
  }
}
.hidden {
  opacity: 0;
  /* transition: 1s linear; */
}
.appBar span {
  cursor: pointer;
}

.fixed {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  opacity: 1;
  transition: opacity 0.5s linear;
  box-shadow: 5px 10px 30px rgba(41, 26, 204, 0.12);
  background-color: #ffffff;
}

.fixed #links {
  height: 100%;
}

.fixed #links span {
  padding: 0;
  line-height: 90px;
}

.fixed #links span:hover {
  color: #5535b8;
  border-bottom: 1.5px solid #5535b8 !important;
}

.fixed nav span {
  color: black;
}
